.header {
    display: flex;
    background: gray;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.head-btn {
    display: flex;
}
body {
    background-color: orange;
    align-content: space-around;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: row;
}
/* Main Track */
.main-rec {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    padding-bottom: 2%;
}
/* Secondary Tracks */
.secTracks {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    padding-top: 5%;
}








.mainTrackDesc {
    /* display: flex;
    justify-content: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row; */
}

.secTracks {
/* height: 300px;
width: 300px;
display: flex;
justify-content: space-between;
align-content: flex-end;
flex-wrap: row wrap;
flex-direction: row; */
}

.secTracksDesc {
    /* vertical-align: center; */
    /* flex-direction: row; */
}

