.header {
    display: flex;
    background: gray;
    justify-content: space-between;
    margin: 0%;
    padding: 0px;
    border: rgb(150, 67, 67);
    border-style: double;
}


.search {
    display: flex;
    justify-content: center;
    padding: 2%;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: red;
}

.head-btn {
    display: flex;
    border: none;
    border-radius: 10px;
}
body {
    background-color: rgb(218, 210, 210);
    border: none;
}
/* 
body {
    /* background: linear-gradient(-90deg, #210124, #DBF9F0, #B3DEC1, #750D37);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; 
}*/

/* @keyframes gradient {
    0% {
        background-position: 33% 50%;
	}
	50% {
        background-position: 86% 14%;
	}
	100% {
        background-position: 67% 5%;
	}
} */





/* .body {
    display: flex;
    flex-direction: column;
} */
.main-rec {
    align-content: center;
}

h3 {
text-align: center;
}

p {
    text-align: center;
}

.container-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
    align-content: center;
}

/* @media (min-width: 800px) {
    .container-1 {
        display: flex;
        align-content: center;
        padding-bottom: 12%;
    }
} */

/* @media (min-width: 800px) {
    .body {
        display: flex;
        align-content: flex-start;
    }
} */



.container-1 img {
    max-height: 120%;
    box-shadow: gray;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px gray;
}

.container-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-2 img {
    max-height: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
/* Main Track */
.main-rec {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 250px;
    padding-bottom: 2%;
}
/* Secondary Tracks */
.secTracks {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding-top: 5%;
    padding-right: 1%;
}

.descDiv {
    display: flex;
}


.secTracks {
    animation-name: drive;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: 12;
    padding-bottom: 5%;
}

@keyframes drive {
    from{   transform: translateX(2000px)}
    to{ transform: translateX(-2320px)}
}

.footer {
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 0%;
    padding: 0%;
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .header {
        width: 100%;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin-bottom: auto;
        overflow-x: hidden;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        }
        .search {
            justify-content: center;
            height: 40px;
        }
        p.secTracksDesc {
            color: white;
        }
        h3.mainTrackDesc {
            color: white;
        }
        h3 {
            text-align: center;
            color: white;
        }
        p {
            text-align: center;
            color: white;
        }
        
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

    }
  }
    footer { 
        /* position: absolute; 
        left: 0 ; right: 0; bottom: 0; 
        height:[footer-height]; */
    }
    .container-1{
        justify-content: center;
    }